<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="RESTservice.RESTservicesTest"/>
      <class name="RESTservice.SingleRestTest"/>
      <class name="RESTservice.SoapUIRESTserviceTest"/>
      <class name="SOAPservice.SingleSoapUITest"/>
      <class name="SOAPservice.SoapUITestngTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
